/* Sinyoro App CSS */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1 {
    color: #2c3e50;
    margin-top: 50px;
}
